<%= stylesheet_link_tag "substyle", :media => "all" %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SEO LABO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/study">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/member">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="title_of_sub">
  PROFILE
</div>

<section class="subpage">
  <div class="text_box">
    <div class="content" style="padding-top: 9vh;text-align: right;width: 75%;">
      京都産業大学 <br>
      総合生命科学部<br>
      生命システム学科<br>
      大学院生命科学研究科<br>
      大学院工学研究科生物工学専攻<br>

      教授<br>
      薬学博士（論文；京都大学）<br>
       E-mail: mseo@cc.kyoto-su.ac.jp<br>
       Tel :075-705-1488<br>
       Fax :075-705-1488<br>
    </div>
  </div>
  <div class="text_box">
    <div class="subtitle">メッセージ</div>
    <div class="content">
      細胞増殖因子による細胞内シグナル伝達の研究を行っています。
      がん治療や再生治療につながる基礎研究を行い、治療の分子標的を探索し、 将来は人の命を救う薬を創りだすことが夢です。
      多数の生物工学科卒業生、大学院生を世の中に送り出しています。
      研究室の卒業生は、大学、研究所や製薬企業 の研究者として、またさまざまな領域で活躍しています。
      卒業生の活躍を見ることが何よりの喜びになっています。
    </div>
  </div>
  <div class="text_box">
    <div class="subtitle">研究領域</div>
    <div class="content">
      細胞増殖因子、細胞内シグナル伝達、がん、神経
    </div>
  </div>
  <div class="text_box">
    <div class="subtitle">職歴・研究歴</div>
    <div class="content">
      1976.3　広島大学医学部薬学科　卒業（薬学士） <br>
      1978.3　広島大学大学院薬学研究科修士課程薬学専攻　修了 <br>
      1984.1　京都大学　薬学博士（論文博士、山科郁男教授）<br>
      1978.4〜1984.1　広島大学医学部総合薬学科生理化学教室 技術補佐員<br>
      1984.6〜1986.8　米国ハーバード大学医学部　マサチューセッツ総合病院研究員<br>
      1986.9〜1988.8　米国ハーバード大学医学部　ボストン小児病院研究員<br>
      1988.11〜1989.3　京都産業大学国土利用開発研究所 助教授<br>
      1989.3〜2002.3　京都産業大学工学部生物工学科　助教授<br>
      2002.4〜2010.3　京都産業大学工学部生物工学科　教授<br>
      2005.3〜2006.2、2006.8　ハーバード大学医学部　ボストン小児病院　客員教授<br>
      2010.4〜現在　京都産業大学総合生命科学部生命システム学科　教授<br>
    </div>
  </div>
  <div class="text_box">
    <div class="subtitle">その他</div>
    <div class="content">
      2000.12〜　京都府発明等功労者表彰審査会審査委員
      2002.〜　日本生化学会評議員
      2006.10〜2008.9　京都産業大学国際交流センター長
      2010.10〜2012.9　京都産業大学図書館長
    </div>
  </div>
  <div class="profile_img">
    <%= image_tag('profile.png') %>
  </div>
</section>
<%= javascript_include_tag 'main' %>
