
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SEO LABO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/study">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/member">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="title_of_sub">
  　RESULTS
  </div>

  <section class="subpage">
    <div class="text_box">
      <div class="subtitle">研究概要</div>
      <div class="content">
        高等動物における細胞間のコミュニケーションは、生体の恒常性維持に加え、細胞の増殖と分化に必須です。
        シグナル伝達分子の異常がヒト の先天性疾患 やがんなどの病気を引きおこします。
        私の研究室では、がんや先天性神経系疾患において、細胞増殖因子のレセプターからのシグナル伝達のどこに異常をきたし ているのかを分子レベルで解明します。
        その研究成果は、現在注目を浴びている再生医療や新しいがん治療法（分子標的治療薬）の開発につながっています。
      </div>
    </div>
    <div class="text_box">
      <div class="subtitle">研究テーマ</div>
      <div class="content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">VEGF-A/ニューロピリン-1 (NRP1)のシグナル伝達経路とがん細胞の悪性化メカニズム</li>
          <li class="list-group-item">
            食道がんにおける線維芽細胞増殖因子受容 体3アイソフォ-ム(FGFR3IIIc)のがん悪性化
促進メカニズムの解析
          </li>
        </ul>
      </div>
    </div>
    <div class="text_box">
      <div class="subtitle">研究・活動報告</div>
      <div class="content">
        <div class="scroll_box">
          <% @results.each do |result| %>
            <p><%= result.title%></p>
          <% end %>
        </div>

      </div>
    </div>
    <div class="profile_img">
      <img src="./images/profile.png" alt="" width="100">
    </div>
  </section>
