
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SEO LABO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/study">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/member">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webpages/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="title_of_sub">
  　RESULTS
  </div>

  <section class="subpage">
    <div class="text_box">
      <div class="subtitle">研究概要</div>
      <div class="content">
        高等動物における細胞間のコミュニケーションは、生体の恒常性維持に加え、細胞の増殖と分化に必須です。
        シグナル伝達分子の異常がヒト の先天性疾患 やがんなどの病気を引きおこします。
        私の研究室では、がんや先天性神経系疾患において、細胞増殖因子のレセプターからのシグナル伝達のどこに異常をきたし ているのかを分子レベルで解明します。
        その研究成果は、現在注目を浴びている再生医療や新しいがん治療法（分子標的治療薬）の開発につながっています。
      </div>
    </div>
    <div class="text_box">
      <div class="subtitle">研究テーマ</div>
      <div class="content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">VEGF-A/ニューロピリン-1 (NRP1)のシグナル伝達経路とがん細胞の悪性化メカニズム</li>
          <li class="list-group-item">
            食道がんにおける線維芽細胞増殖因子受容 体3アイソフォ-ム(FGFR3IIIc)のがん悪性化
促進メカニズムの解析
          </li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="text_box">
      <div class="subtitle">研究・活動報告</div>
      <div class="content">
        <div class="scroll_box">
          <p>Fukami M, Iso M, Sato N, Igarashi M, Seo, M., Kazukawa I, Kinoshita E, Dateki S, Ogata T.
             Submicroscopic deletion involving the fibroblast growth factor receptor
            1 gene in a patient with combined pituitary hormone deficiency. Endocr J. (2013) 60:1013-20.</p>
            <p>Terada, M., Ohnishi, C., Ueno, N., Shimizu, A., Kanai, M., Seo, M. Enhanced expression
              of Fibroblast Growth Factor Receptor 3 in human skin cancer cells. Open Circulation Vascular
              J. (2009) 2, 30-36.</p>
          <p>
            Shimizu A, Takashima Y, and Kurokawa-Seo M. FGFR3 isoforms have distinct functions in the
             regulation of growth and cell morphology. Biochem. Biophys. Res. Commun. (2002) 290, 113-120
           </p>
          <p>
            Terada M, Shimizu A, Sato N, Miyakaze S, Hiroshi Katayama, and Misuzu Kurokawa-Seo.
            Fibroblast growth factor receptor 3 lacking the Ig IIIb and transmembrane domains secreted
            from human squamous cell carcinoma DJM-1 binds to FGFs. Mol. Cell Biol. Res. Commun. (2001) 4, 365-373
          </p>

          <p>
            Shimizu A, Tada K, Shukunami C, Hiraki Y, Kurokawa T, Magane M, and Kurokawa-Seo M.
            A novel alternatively spliced FGFR3 isoform lacking the acid box domain is expressed during
            chondrogenic differentiation of ATDC5 cells. J. Biol. Chem. (2001) 276, 11031-11040
          </p>
          <p>
            Inoue S, Seo M, Yamada Y, and Nakazawa A. Increased of Adenylate Kinase Isozyme1 during Neuronal
            Differentiation in Mouse Embryonal Carcinoma P19 Cells and in Rat Brain Primary Cultured Cells. J. Neurochem.
             (1998) 71, 125-133
          </p>

        </div>

      </div>
    </div>
    <div class="profile_img">
      <img src="./images/profile.png" alt="" width="100">
    </div>
  </section>
