body {
  position: relative;
}
.subpage{
  border: solid 1px #cacaca;
  width: 70vw;
  margin: 0 auto;
  display: block;
  background-color: #fff;
}
.title_of_sub {
  width: 25vw;
font-size: 2rem;
font-weight: bold;
position: relative;
color: #e60000;
margin: 10vh 0;
padding-left: 11vw;
padding-bottom: 10px;
}
.title_of_sub::before {
  position: absolute;
  content: "";
  border-bottom: solid 4px #011250;
  transform: skew(20deg);
  -o-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -webkit-transform: skew(40deg);
  width: 25vw;
  top: 100%;
  left: 0;
}
.text_box{
  width: 70%;
}
.subtitle {
  margin: 0% 10% 5%;
font-size: 1.5rem;
padding-top: 7%;
}
.content {
  margin: 0% 10% 5%;
      line-height: 2rem;
}
.profile_img{
  position: fixed;
top: 43vh;
right: 18vw;
width: 20%;
}
.profile_img img {
  width: 100%;
}
.scroll_box {
  overflow: scroll;
  height: 400px;
}
.image-gallery {
  width: 100%;
}
